body{
	overflow-x:hidden;
	scroll-behavior:smooth;	
	margin:0;
}
html{
	scroll-behavior:smooth;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
	font-family:'Mandala';
	src:url('Mandala.ttf') format('truetype');
	font-style:normal;
}